[submodule "vkvg"]
	path = subprojects/vkvg
	url = https://github.com/andresmaldonado2/vkvg.git 
[submodule "subprojects/sail"]
	path = subprojects/sail
	url = https://github.com/HappySeaFox/sail.git
